<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3612638254-i9v03h6sdkijq3knrcgjjopth413ojqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3612638254-i9v03h6sdkijq3knrcgjjopth413ojqt</string>
	<key>API_KEY</key>
	<string>AIzaSyBpKURXDf7O4oew-OgyCvre7riTUO_zRyg</string>
	<key>GCM_SENDER_ID</key>
	<string>3612638254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hippie</string>
	<key>PROJECT_ID</key>
	<string>hippie-9a782</string>
	<key>STORAGE_BUCKET</key>
	<string>hippie-9a782.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3612638254:ios:9a484e89844403c51673bf</string>
	<key>DATABASE_URL</key>
	<string>https://hippie-9a782.firebaseio.com</string>
</dict>
</plist>